empAttritionPBLenv/
archive (3).zip
.vscode/
conda-4.14.pdf
archive (3).zip
Feature engineering WA_Fn-UseC_-HR-Employee-Attrition.xlsx
Job_Attrition_IBM_Data.ipynb
.ipynb_checkpoints/
website/.ipynb_checkpoints/